@model DateTime

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var prev = Model.AddDays(-1);
    var next = Model.AddDays(1);
}

<div class="page-header">
    <div class="pull-right">
        <div class="btn-group">
            <button class="btn btn-warning active">Day</button>
            <a href="@Url.RouteUrl("calendar/month", new { year = Model.Year, month = Model.Month })" class="btn btn-warning">Month</a>
        </div>
        <div class="btn-group">
            <a href="@Url.RouteUrl("calendar/day", new { year = prev.Year, month = prev.Month, day = prev.Day })" class="btn btn-success"><< Prev</a>
            <a href="@Url.RouteUrl("calendar/day", new { year = DateTime.Today.Year, month = DateTime.Today.Month, day = DateTime.Today.Day })" class="btn btn-primary">Today</a>
            <a href="@Url.RouteUrl("calendar/day", new { year = next.Year, month = next.Month, day = next.Day })" class="btn btn-success">Next >></a>
        </div>
    </div>
    <h3>@Model.ToString("D", new System.Globalization.CultureInfo("en-US"))</h3>
</div>
