@model DateTime

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var prev = Model.AddMonths(-1);
    var next = Model.AddMonths(1);
}

<div class="page-header">
    <div class="pull-right">
        <div class="btn-group">
            <a href="@Url.RouteUrl("calendar/day", new { year = Model.Year, month = Model.Month, day = 1 })" class="btn btn-warning">
                Day
            </a>
            <button class="btn btn-warning active">Month</button>
        </div>
        <div class="btn-group">
            <a href="@Url.RouteUrl("calendar/month", new { year = prev.Year, month = prev.Month })" class="btn btn-success"><< Prev</a>
            <a href="@Url.RouteUrl("calendar/month", new { year = DateTime.Today.Year, month = DateTime.Today.Month })" class="btn btn-primary">Today</a>
            <a href="@Url.RouteUrl("calendar/month", new { year = next.Year, month = next.Month })" class="btn btn-success">Next >></a>
        </div>
    </div>
    <h3>@Model.ToString("y", new System.Globalization.CultureInfo("en-US"))</h3>
</div>
