<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ShowFeed</title>
    @Styles.Render("~/Content/css")
    @RenderSection("css", false)
</head>
<body>
    <div id="layout">
        <div id="menu">
            <div class="header">
                <a href="/">ShowFeed</a>
            </div>
            <ul>
                <li><a href="#">Upcomming</a></li>
            </ul>
        </div>
        <div id="main">
            @RenderBody()
        </div>
    </div>
    @Scripts.Render("~/Scripts/js")
    @RenderSection("scripts", false)
</body>
</html>
