@model ShowFeed.ViewModels.SeriesDetailsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = Model.Name;
}

<div class="page-header">
    <h3><strong>@Model.Name</strong></h3>
    <small>
        Links:
        <a class="act act-primary" href="http://thetvdb.com/?tab=series&id=@Model.SeriesId" target="_blank">TheTVDB.com</a>
        @if (!string.IsNullOrEmpty(Model.ImdbId))
        {
            <text>, </text>
            <a class="act act-primary" href="http://imdb.com/title/@Model.ImdbId" target="_blank">IMDB.com</a>
        }
    </small>
</div>

@Model.Description

<h4>Seasons</h4>

@{
    var seasons = Model.Episodes.GroupBy(x => x.SeasonNumber).OrderBy(x => x.Key);
}

<ul class="nav nav-tabs">
    @foreach (var seasonNumber in seasons.Select(x => x.Key))
    {
        <li class="@(seasonNumber == 1 ? "active" : string.Empty)">
            <a href="#s@(seasonNumber == 0 ? "pecials" : seasonNumber.ToString())" data-toggle="tab">
                @(seasonNumber == 0 ? "Specials" : seasonNumber.ToString())
            </a>
        </li>
    }
</ul>

<div class="tab-content">
    @foreach (var season in seasons)
    {
        <div id="s@(season.Key == 0 ? "pecials" : season.Key.ToString())" class="tab-pane @(season.Key == 1 ? "active" : string.Empty)">
            <br />
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th style="width: 3em; text-align: center">No.</th>
                        <th style="text-align: center">Title</th>
                        <th style="width: 12em; text-align: center">Original airdate</th>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <th style="width: 3em"></th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @foreach (var episode in season)
                    {
                        <tr>
                            <td style="text-align: center">@episode.EpisodeNumber</td>
                            <td>
                                @episode.Name
                            </td>
                            <td style="text-align: center">
                                @if (episode.FirstAired.HasValue)
                                {
                                    <text>@episode.FirstAired.Value.ToString("MMMM d, yyyy", new System.Globalization.CultureInfo("en-US"))</text>
                                }
                            </td>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <td>
                                    @if (episode.Viewed)
                                     {
                                         <button type="button" class="btn btn-success btn-xs pull-right" data-episodeid="@episode.EpisodeId">
                                             <span class="glyphicon glyphicon-check"></span>
                                         </button>
                                     }
                                     else
                                     {
                                         <button type="button" class="btn btn-primary btn-xs pull-right" data-episodeid="@episode.EpisodeId">
                                             <span class="glyphicon glyphicon-unchecked"></span>
                                         </button>
                                     }
                                </td>
                            }
                        </tr>
                        <tr>
                            <td colspan="4" style="border-bottom-width: 3px">@episode.Description</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>


@section scripts {
    @if (User.Identity.IsAuthenticated)
    {
        <script type="text/javascript">
            (function(window, undefined) {
                $("body").on("click", ".btn-primary", function(event) {
                    var button = $(event.target).closest(".btn-primary");
                    button.attr("disabled", true);

                    $.ajax({
                        type: "PUT",
                        url: "@Url.HttpRouteUrl("api/episodes", new { @id = "" })/" + button.data("episodeid"),
                        success: function() {
                            button.toggleClass("btn-primary btn-success");
                            button.children(".glyphicon-unchecked").toggleClass("glyphicon-unchecked glyphicon-check");
                            button.attr("disabled", false);
                        },
                        error: function() {
                            button.attr("disabled", false);
                        }
                    });
                });

                $("body").on("click", ".btn-success", function(event) {
                    var button = $(event.target).closest(".btn-success");
                    button.attr("disabled", true);

                    $.ajax({
                        type: "DELETE",
                        url: "@Url.HttpRouteUrl("api/episodes", new { @id = "" })/" + button.data("episodeid"),
                        success: function() {
                            button.toggleClass("btn-success btn-primary");
                            button.children(".glyphicon-check").toggleClass("glyphicon-check glyphicon-unchecked");
                            button.attr("disabled", false);
                        },
                        error: function() {
                            button.attr("disabled", false);
                        }
                    });
                });
            })(window);
        </script>
    }
}