@model ShowFeed.ViewModels.SeriesIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "series";
}

<div class="page-header">
    <h3>Series</h3>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="min-col-width"></th>
            <th>Name</th>
            <th class="min-col-width">@(User.Identity.IsAuthenticated ? "Viewed" : "Episodes")</th>
            @if (User.Identity.IsAuthenticated)
            {
                <th class="min-col-width"></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var series in Model.Entries.OrderBy(x => x.Name))
        {
            <tr>
                <td data-row-details-id="@series.SeriesId"><i class="glyphicon glyphicon-chevron-right"></i></td>
                <td>
                    <a class="act act-primary" href="@Url.RouteUrl("series/details", new { id = series.SeriesId })">@series.Name</a>
                </td>
                <td class="text-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <text>@series.NumberOfViewedEpisodes /</text>
                    }
                    @series.NumberOfEpisodes
                </td>
                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        @if (series.Following)
                            {
                                <button type="button" class="btn btn-success btn-xs pull-right" data-seriesid="@series.SeriesId">
                                    <span class="glyphicon glyphicon-check"></span>
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn btn-primary btn-xs pull-right" data-seriesid="@series.SeriesId">
                                    <span class="glyphicon glyphicon-unchecked"></span>
                                </button>
                            }
                    </td>
                }
            </tr>
            <tr id="@series.SeriesId" class="collapse">
                <td colspan="4">@series.Description</td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script type="text/javascript">
        @if (User.Identity.IsAuthenticated)
        {
            <text>initToggleButtons("@Url.HttpRouteUrl("api/series", new { @id = "" })", "seriesid");</text>
        }
    </script>
}