@model ShowFeed.ViewModels.SeriesIndexViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "series";
}

<div class="page-header">
    <h3>Series</h3>
</div>

<table class="table table-striped">
    <tbody>
        @foreach (var series in Model.Entries.OrderBy(x => x.Name))
        {
            <tr>
                <td>
                    <a class="act act-primary" href="@Url.RouteUrl("series/details", new { id = series.SeriesId })">@series.Name</a>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (series.Following)
                         {
                             <button type="button" class="btn btn-success btn-xs pull-right" data-seriesid="@series.SeriesId">
                                 <span class="glyphicon glyphicon-check"></span>
                             </button>
                         }
                         else
                         {
                             <button type="button" class="btn btn-primary btn-xs pull-right" data-seriesid="@series.SeriesId">
                                 <span class="glyphicon glyphicon-unchecked"></span>
                             </button>
                         }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    @if (User.Identity.IsAuthenticated)
    {
        <script type="text/javascript">
            initToggleButtons("@Url.HttpRouteUrl("api/series", new { @id = "" })", "seriesid")
        </script>
    }
}