@model ShowFeed.ViewModels.AccountSignUpViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-horizontal" action="@Url.RouteUrl("signup")" method="post">
    <fieldset>
        <legend>Sign Up</legend>
        <div class="form-group">
            @Html.LabelFor(m => m.Username, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Username" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-sm-3 control-label" })
            <div class="col-sm-8">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
            </div>
        </div>
        <div>
            <button type="submit" class="btn btn-lg btn-primary btn-block">Sign up</button>
        </div>
    </fieldset>
</form>
